

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
body,html{
  overflow: hidden;
}
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
  background-image: url('/public/bg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-blend-mode: luminosity;
  overflow-y:hidden;
}

.container {
  max-width: 800px;
  
  margin: 10px auto;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.456);
  border-radius: 8px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px, rgba(255, 255, 255, 0.096) 10px 18px 34px 18px;
  text-align: left;
  color: #000000;

}

.container.loading {
  opacity: 0.6;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #000000;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

label {
  display: none;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  background: transparent;
  border: 1px solid #839db6;
  color: rgb(0, 0, 0);
  font-size: 18px;
}

input[type="text"]:active {
  box-shadow: 2px 2px 15px #527595 inset;
}

button {
  padding: 15px 30px;
  border: 2px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

button:hover::after {
  transform: scale(4);
}

button:hover {
  border-color: #666666;
  background: #292929;
}

.results {
  margin-top: 20px;
  text-align: left;
}

.results p,
.results ul {
  margin-bottom: 10px;
}

.speed-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.speed-list li {
  background-color: #f9f9f9;
  padding: 12px 20px;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.speed-list li:hover {
  background-color: #e9ecef;
}

.speed-list li strong {
  font-weight: bold;
  margin-right: 10px;
}

#error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.footer {
  text-align: center;
  /* padding: 10px; */
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  font-size: 20px;
  color: #ffffff;
  position:relative;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Media queries for responsiveness */

@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
    margin: 30px auto;
    padding: 10px;
  }

  h1 {
    font-size: 32px;
  }

  input[type="text"] {
    width: 100%;
  }

  button {
    padding: 12px 24px;
    font-size: 1rem;
  }

  .speed-list li {
    padding: 10px;
    font-size: 0.9rem;
  }
  .footer{
    font-size: 12px;
    bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  .container {
    padding: 8px;
  }

  input[type="text"] {
    padding: 8px;
    font-size: 16px;
  }

  button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  .speed-list li {
    padding: 8px;
    font-size: 0.8rem;
  }
  .footer{
    font-size: 12px;
    bottom: 0;
  }
}
